.input-phone-number input:focus {
  box-shadow: none !important;
  border: 1px solid #4096ff;
}

.input-phone-number:focus-within .react-tel-input .selected-flag {
  border: 1px solid #4096ff;
  outline: 0;
}

.sign-up-screen {
  .progress-bar {
    width: 300px;
  }
  @media screen and (max-width: 992px) {
    .title {
      font-size: 20px;
    }

    .form {
      max-width: 500px;
      .input {
        font-size: 10px;
      }
    }

    .ant-form-item {
      margin-bottom: 10px;
    }
  }
}
