/* For customize the ANTD library inbuilt CSS */
.ant-select-selector {
  cursor: pointer !important;
}
// .header {
// .anticon-user {
//   color: #000000;
// }
// .ant-avatar {
//   background-color: #ffffff;
// }
// }
/* TODO: Need to find an alternate way for the above theme issue. */
/* TODO: Need to review the actual issue */

.header {
  .ant-card-body {
    padding: 12px;
  }

  .ant-divider {
    margin: 0;
  }
}

.header,
.accountTab {
  .anticon {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .h-100;
  }
  .ant-form-item {
    @extend .mb-0;
  }
}

.sider {
  .ant-layout-sider-trigger {
    @extend .bg-transparent;
  }
}

.ant-tabs-ink-bar {
  display: none;
}
