@import './antd-customise.scss';

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.mt-5 {
  margin-top: 1rem;
}

.shadow-1 {
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.25) !important;
}
