@import './pages/login';
@import './layout';
@import './layout/Header';
@import './layout/Content';
@import './layout/Sidebar';
@import './layout/Footer';

@import './antd-customise.scss';

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column !important;
}

.justify-content-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

.hv-100 {
  height: 100vh;
}

.mt-5 {
  margin-top: 1rem;
}
