@import './antd-customise.scss';

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.mt-5 {
  margin-top: 1rem;
}
