@import '../../variables.scss';
.bg-image {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: $bg-image;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(7px);
  }
}

.landing-screen {
  .parent-container {
    height: 90vh;
  }

  .official-logo {
    height: 5vh;
    display: flex;
    justify-content: flex-start;
  }

  .container {
    background: #ffffff;
    max-width: 450px;
    box-shadow: 1px 1px 4px 1px #ccc;
    border-radius: 5px;
  }

  .footer-disclaimer-mob {
    display: none;
  }

  @media screen and (max-width: 992px) {
    .official-logo {
      display: flex;
      justify-content: center;
    }
    .footer-disclaimer {
      display: none;
    }
    .footer-disclaimer-mob {
      display: block;
    }
  }
  @media screen and (max-width: 576px) {
    .form-content {
      margin: 15px;
    }
    .container {
      max-width: 350px;
    }
  }
}
